.main {
    width: 1000px;
    height: 400px;
    color: #a3a3a3;
    font-family: Helvetica, sans-serif;
}

.main form {
    background-color: #f2f3f5;
    border: 1px solid #ececed;
    box-shadow: 0 10px 14px 0 #ddd;
    padding: 45px 54px 87px 40px;
}

input,
select {
    border: 1px solid white;
    color: #a6a6a6;
    font-size: 13px;
}

.main form input {
    width: 390px;
    height: 43px;
    margin-bottom: 20px;
    color: #a6a6a6;
    font-size: 13px;
    padding-left: 21px;
    box-sizing: border-box;
    margin-right: 50px;
}

.main form select {
    width: 390px;
    height: 43px;
    margin-bottom: 20px;
    margin-right: 50px;
    padding-left: 14px;
    box-sizing: border-box;
}

form .content input {
    width: 834px;
    height: 139px;
    padding-bottom: 97px;
}

form button {
    width: 835px;
    height: 46px;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 3px;
}