body {
    background-color: #f2f3f5;
    color: #999;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.main {
    margin: 30px auto;
    width: 1140px;
}

.main h2 {
    text-align: center;
    font-size: 40px;
}

.main .textheading {
    text-align: center;
    font-size: 18px;
}

ul {
    list-style: none;
    width: 1140px;
    margin-left: -30px;
}

ul li img {
    display: block;
}

ul li {
    background-color: #fff;
    float: left;
    margin-right: 30px;
    width: 360px;
}

ul li .text {
    padding: 12px 15px;
    min-height: 200px;
}

ul li h3 {
    color: black;
    font-size: 24px;
}

ul li p {
    margin-top: 0px;
}

ul li:nth-child(3n) {
    margin-right: 0px;
}