* {
    margin: 0;
    padding: 0;
}

.img {
    float: left;
    height: 630px;
}

img {
    margin: -15px 40px 20px 20px;
}

.text {
    margin: 40px 10px 20px 30px;
    overflow: hidden;
}

h1 {
    font-size: 25px;
}

b {
    color: white;
    background-color: #00bcd4fa;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    color: #a6a6a6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.4;
    display: block;
    /* k/c các dòng or chiều cao từng dòng */
    margin-top: 28px;
    margin-bottom: 30px;
}

ul {
    margin-bottom: 40px;
}

ul li {
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #a6a6a6;
}

.ul1 {
    float: left;
}

.ul2 {
    float: left;
    margin-left: 60px;
    margin-right: 60px;
}

.ul3 {
    overflow: hidden;
}

i {
    color: #00bcd4fa;
    font-size: 11px;
}

button {
    width: 214px;
    height: 48px;
    background-color: #00bcd4fa;
    border: 0px;
}

a {
    text-decoration: none;
}