* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f3f5;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin-left: 30px;
    height: 100%;
}

.paragraph,
.heading {
    display: block;
    margin-top: 30px;
}

.paragraph {
    margin-bottom: 50px;
    line-height: 1.8;
    color: #a6a6a6;
}

.content1 {
    width: 460px;
    float: left;
}

.content1 h1 {
    display: block;
    margin-top: 14px;
    margin-bottom: 16px;
    font-size: 24px;
}

.content1 p {
    display: block;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #a6a6a6;
}

.content2 {
    width: 670px;
    overflow: hidden;
    display: inline-block;
    margin-left: 30px;
}

ul {
    display: block;
    list-style: none;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    display: list-item;
    float: left;
    padding-bottom: 20px;
    border-bottom: 1px dashed red;
    margin-bottom: 20px;
}

li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.content2 .img1 {
    float: left;
}

.content2 img {
    border-radius: 5px;
}

.content2 .nd1 {
    margin-top: 7px;
    overflow: hidden;
    height: auto;
}

.content2 b {
    margin-top: 0px;
    margin-left: 30px;
    display: block;
}

.content2 p {
    margin-top: 15px;
    margin-left: 30px;
    line-height: 1.4;
    color: #a6a6a6;
    font-size: 15px;
}